[user]
	name = Ryan Orr
	email = ryan@ryanorr.me

[alias]
	co = checkout
	cob = checkout -b
	br = branch
	brd = branch -d
	brD = branch -D
	merged = branch --merged
	st = status
	aa = add -A .
	cm = commit -m
	pod = push origin dev
	pos = push origin staging
	pom = push origin main
	poh = push origin HEAD
	plo = pull origin
	plod = pull origin dev
	plos = pull origin staging
	plom = pull origin main
	ploh = pull origin HEAD
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
	lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	le = log --oneline --decorate
	dlc = diff --cached HEAD^
	dl = "!git ll -1"
	dr  = "!f() { git diff "$1"^.."$1"; }; f"
	lc  = "!f() { git ll "$1"^.."$1"; }; f"
	diffr  = "!f() { git diff "$1"^.."$1"; }; f"
